extends ../../layout
block content
  .container-fluid
    .row
      main.col-sm-22.ml-sm-auto.col-md-22.pt-2(role="main")
        h4 项目-PBS
        hr
        form.form-horizontal
          .form-group
            label.col-sm-2.col-sm-offset-2.control-label ID
            .col-sm-4
              p.form-control-static(name="id") #{pbs.id}
          .form-group
            label.col-sm-2.col-sm-offset-2.control-label PBS编号
            .col-sm-4
              p.form-control-static(name="number") #{pbs.number}
          .form-group
            label.col-sm-2.col-sm-offset-2.control-label PBS名称
            .col-sm-4
              p.form-control-static(name="name") #{pbs.name}
          .form-group
            label.col-sm-2.col-sm-offset-2.control-label ATA章节
            .col-sm-4
              p.form-control-static(name="ata") #{pbs.ata}
          .form-group
            label.col-sm-2.col-sm-offset-2.control-label  上层PBS
            .col-sm-4
              p.form-control-static(name="upper_pbs") #{pbs.upper_pbs==undefined?"":pbs.upper_pbs.name}
          .form-group
            label.col-sm-2.col-sm-offset-2.control-label 类别
            .col-sm-4
              case pbs.type
                when 0
                    p.form-control-static(name="type") 飞机
                when 2
                    p.form-control-static(name="type") 飞机系统
                when 2
                    p.form-control-static(name="type") 飞机结构
                default
                    ""

              
        